/*******************************************************/
/******************** CSS Reset ************************/
/*******************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************** Universal Styles *****************/

body{
	background-color: blanchedalmond;
	font-family: 'Raleway', sans-serif;
	color: #3C2912;
	font-size: 16px;
}

/* Company Name */
h1{
	font-family: 'Great Vibes', cursive;
	color: #98B23C;
}

/* Headings, menus */
h2, h3, h4, nav a, .social a{
	color: #D09637;
	font-family: 'Arima Madurai', cursive;
}

/* button style */
button{
	background-color: #f1e1cc;
	color: #D09637;
	border: 2px solid #98B23C;
    border-radius: 77.5em;
	padding: 0.5em 3em;
}

/* Banner */
.banner{
	background-image: url("images/banner.jpg");
	width:100%;
}

.logo{
	font-family: 'Great Vibes', cursive;
	color: #98B23C;
}

/****************************************************************
********************** Default/Mobile < 412px ***************************
*****************************************************************/
header{
	width: 100%;
}

nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

nav a{
	text-decoration: none;
    font-size: 2em;
    padding: 0.4em;
    width: 100%;
    text-align: center;
}

/* Put the Business name and logo at the top */
nav a[href="index.html"]{
	order: -1;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    font-size: 3em;
}

nav a[href="index.html"] img{
	width: 75px;
}





/****************************************************************
********************** Tablet 412px > 912 ***************************
*****************************************************************/


/****************************************************************
********************** Desktop > 912 ***************************
*****************************************************************/