/*******************************************************/
/******************** CSS Reset ************************/
/*******************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************************************************
********************** Default/Mobile < 600px ***************************
*****************************************************************/

:root{
	/* Site colours */
	--primary: #D09637;
	--accent: #98B23C;
	--page: rgb(240, 234, 227);
	--text: #3C2912;
	--accent_light: #d4e1ac;

	/* Site fonts */
	--serif: 'Arima Madurai';
	--sans: 'Raleway';
	--script: Great Vibes;

	/* Animation settings */
	--link_timing: 0.5s;
	--link_flow: ease-in-out;

	/* White Space */
	--container_padding: 2rem;
}

/* Default styles */
body{
	background-color: var(--page);
	font-family: var(--sans), sans-serif;
	color: var(--text);
	font-size: 16px;
	box-sizing: border-box;
}

/* Full width for mobile */
header{
	width: 100%;
}

/* Full width page content for mobile */
main{
	width:100%;
}

/* Full wdith for mobile */
section{
	width:100%;
}

/********** Full width footer **************/

footer{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 1rem 1rem 1rem;
    align-items: end;
}

/********** Full width navigation **********/
nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

header a{
	/* style */
	text-decoration: none;
	color: var(--primary);
	font-family: var(--serif), cursive;
    font-size: 1.5em;
	
	/* Spacing */
	text-align: center;
    padding: 0.4em 0em 0.4em 0em;
    width: 100%;
	border-radius: 5px;

	transition: all var(--link_timing) var(--link_flow);
}

/* Highlight in gold when hovering */
header a:hover, header a:active, header a:focus, .current_page{
	color: var(--page);
	background-color: var(--primary);
}

/* logo */
nav a[href="index.html"] img{
	width: 350px;
}

/* Don't highlight the logo */
nav a[href="index.html"]{
	color: var(--primary);
	background-color: var(--page);
}

/* Hidden skip Link */
header > a{
	display:inline-block;
	transform:translateY(-100px);
	transition: all var(--link_timing) var(--link_flow);
}

header > a:focus{
	transform:translateY(0px);
}

/************ Headings ***************/
h1{
	font-family: var(--serif), cursive;
	color: var(--accent);
	font-size: 2.5rem;

	text-align: center;
	padding: 1em 0em 0.5em 0em;
}

h2, h3, h4{
	color: var(--primary);
	font-family: var(--script), cursive;
    text-align: center;
}

/* Heading sizes */
h2{
	font-size: 3rem;
}

h3{
	font-size: 2.5rem;
}

h4{
	font-size: 2rem;
}

/* button style */
button{
	height: 2.5em;
    background-color: var(--page);
    color: var(--primary);
    font-size: 1.2em;
    font-family: var(--serif);
    font-weight: 600;
    text-align: center;
    border-radius: 77.5em;
    border: 2px solid var(--primary);
	transition: all var(--link_timing) var(--link_flow);
}

button:hover, button:active, button:focus{
	color:var(--page);
	background-color: var(--primary);

}

/****************** Classes ********************/

/* No banner for mobile */
.carousel{
	display: none;
}

/************** Cards ******************/

/* Full width for mobile */
.card{
	width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    grid-template-columns: repeat(3, 1fr);
}

/* Washed out background image */
.card picture, .card img{
	grid-row-start: 1;
    grid-row-end: span 3;
    grid-column-start: 1;
    grid-column-end: span 3;

	width: 100%;
	margin: 2rem 0rem 1rem 0rem;
    z-index: -1;
    opacity: 40%;
	border-top: 2px solid var(--primary);
}

/* Top left heading*/
.card > h2{
	grid-row-start: 1;
    grid-column-start: 1;
	grid-column-end: span 3;
    text-align: left;
}

/* Centered text */
.card p{
	grid-row-start: 2;
    grid-column-start: 1;
	grid-column-end: span 3;

    font-size: 1.25em;
	font-weight: 600;
	text-align: center;
}

/* Lower middle button */
.card button{
	grid-row-start: 3;
    grid-column-start: 2;

    height: 32px;
}

.card button:hover, .card button:active, .card button:focus{
	transform: scale(1.1);

	transition: transform 0.2s snap;
}

/************** Social Media Buttons *********/
.social button{
	margin: 0.2em;
    border: 1px solid var(--primary);
	width:2.5em;
}

/****************************************************************
********************** Tablet 600px > 900px ***************************
*****************************************************************/

@media screen and (min-width: 600px){
	
	/***** Whitespace ******/
	
	header, main #services, footer{
		padding: var(--container_padding);
		width: calc(100% - (2 x var(--container_padding)));
	}

	header{
		padding-top: 0px;
	}
	
	/*********** Horizontal Navigation Bar ***********/
	nav{
		flex-direction: row;
		flex-wrap: wrap;
	}

	header a{
		width:fit-content;
		flex-grow:1;
	}

	/* Logo home link full width above menu links */
	nav a[href="index.html"]{
		width:100%;
	}

	h2{
		font-size: 2rem;
	}

	/***************** Product Image Carousel ***************/
	.carousel{
		width: 100%;
		height: fit-content;

		display: flex;
		flex-direction: row;
		align-items: center;

		border-top: 1px solid black;
		border-bottom: 1px solid black;
		background-color: var(--accent_light);
	}

	/* Forward/back buttons */
	.carousel div{
		font-size: 1.5rem;
		padding: 1.5rem;
		color: var(--accent);
		background-color: var(--accent_light);
		height:100%;
	}

	/* image */
	.carousel picture, .carousel img{
		width:100%;
		flex-grow:1;
	}

	/********************* Service Cards ************************/
	
	/* Card Grid */
	#services{
		display:grid;
		grid-template-areas: 
		'h h'
		'a b'
		'c d';
		gap: var(--container_padding);
	}

	#services h1{
		grid-area: h;
	}

	/* card style */
	.card{
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		
		padding: calc(var(--container_padding) / 2);
		width: calc(100% - var(--container_padding));
		border-radius: 15px;
		border: 2px solid var(--accent);
		font-size: 1rem;

	}

	/* card heading */
	.card h2{
		text-align:center;
		margin-bottom: calc( var(--container_padding) / 2);
	}

	.card picture, .card img{
		width:100%;
		margin-top: 0px;
		margin-bottom: calc( var(--container_padding) / 2);
		border: none;
		opacity: 100%;
		border-radius: 15px;
	}

	.card p{
		font-size: 1rem;
		margin-bottom: auto;
	}

	.card button{
		width: 60%;
		margin-top: calc( var(--container_padding) / 2);
		font-size: 1rem;
	}
}

/****************************************************************
********************** 700px > 900px ***************************
*****************************************************************/

/* Heading size tweaks */
@media screen and (min-width: 750px){
	.card h2{
		font-size: 2.5rem
	}
}

/****************************************************************
********************** Desktop > 900px ***************************
*****************************************************************/