/*******************************************************/
/******************** CSS Reset ************************/
/*******************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************************************************
********************** Default/Mobile < 412px ***************************
*****************************************************************/

:root{
	/* Site colours */
	--primary: #D09637;
	--accent: #98B23C;
	--page: rgb(240, 234, 227);
	--text: #3C2912;

	/* Site fonts */
	--serif: 'Arima Madurai';
	--sans: 'Raleway';
	--script: Great Vibes;
}

/* Default styles */
body{
	background-color: var(--page);
	font-family: var(--sans), sans-serif;
	color: var(--text);
	font-size: 16px;
	box-sizing: border-box;
}

/* Full width for mobile */
header{
	width: 100%;
}

/* Full width page content for mobile */
main{
	width:100%;
}

/* Full wdith for mobile */
section{
	width:100%;
}

/********** Full width navigation **********/
nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

nav a{
	/* style */
	text-decoration: none;
	color: var(--primary);
	font-family: var(--serif), cursive;
    font-size: 1.5em;
	
	/* Spacing */
	text-align: center;
    padding: 0.4em 0em 0.4em 0em;
    width: 100%;
}

/* logo */
nav a[href="index.html"] img{
	width: 350px;
}

/************ Headings ***************/
h1{
	font-family: var(--serif), cursive;
	color: var(--primary);
	font-size: 2.5rem;

	text-align: center;
	padding: 1em 0em 0.5em 0em;
}

h2, h3, h4, .social a{
	color: var(--primary);
	font-family: var(--script), cursive;
    text-align: center;
}

/* Heading sizes */
h2{
	font-size: 2.8rem;
}

h3{
	font-size: 2.5rem;
}

h4{
	font-size: 2rem;
}

/* button style */
button{
	height: 45px;
	background-color: var(--primary);
	
	color: var(--text);
	font-size: 1.2em;
	font-family: var(--serif);
	font-weight: 600;
	text-align: center;

	border: 2px solid var(--page);
    border-radius: 77.5em;
}

/****************** Classes ********************/

/* No banner for mobile */
.banner{
	display: none;
}

/************** Cards ******************/

/* Full width for mobile */
.card{
	width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    grid-template-columns: repeat(3, 1fr);
}

/* Washed out background image */
.card img{
	grid-row-start: 1;
    grid-row-end: span 3;
    grid-column-start: 1;
    grid-column-end: span 3;

	width: 100%;
    margin: 2rem 0rem 1rem 0rem;
    z-index: -1;
    opacity: 40%;
}

/* Top left heading*/
.card > h2{
	grid-row-start: 1;
    grid-column-start: 1;
	grid-column-end: span 3;
    text-align: left;
}

/* Centered text */
.card p{
	grid-row-start: 2;
    grid-column-start: 1;
	grid-column-end: span 3;

    font-size: 1.5em;
	font-weight: 600;
	text-align: center;
}

/* Lower middle button */
.card button{
	grid-row-start: 3;
    grid-column-start: 2
}

/****************************************************************
********************** Tablet 400px > 900px ***************************
*****************************************************************/


/****************************************************************
********************** Desktop > 900px ***************************
*****************************************************************/